In [1]:
import datetime, os
import pandas as pd
import csv
import numpy as np
from datetime import date
import calendar
import urllib
import zipfile
pd.options.mode.chained_assignment = None

from share_fns import *

os.chdir('/home/sridhar/Documents/Shares/Bhavcopy_data/Full')
dffull = pd.read_csv('2017_full.csv')
date = dffull.DATE.sort_values(ascending=0).head(1).item()
print date


os.chdir('/home/sridhar/Documents/Shares/')
df = pd.read_csv('niftymidcap50list_wc.csv')
df = df[['Symbol','SC_CODE']].sort_values(by = 'SC_CODE').reset_index(drop = True)

07/24/2017

In [2]:
#marubozo(df, dffull, variation on high-close and low-open(var=0.01), variation on open-close(oc=0.05))
df['Maru%'] = marubozo(df,dffull,oc=0.02)

df['Hangman'] = hangingman(df,dffull)
df['Bullisheng'] = bullisheng(df,dffull)
df['Pearcing'] = pearcingpattern(df,dffull)
df['Volpercent'] = volumepercent(df,dffull,n = 10)
df['RSI'] =rsifun(df,dffull,n=14)
df.head()

,Symbol,SC_CODE,Maru%,Hangman,Bullisheng,Pearcing,Volpercent,RSI
0,AMARAJABAT,500008,0.0,0,0,0,0.834457,42.477876
1,CENTURYTEX,500040,0.0,0,0,0,0.806250,63.985765
2,BATAINDIA,500043,0.0,0,0,0,1.830844,56.430868
3,CESC,500084,0.0,0,0,0,0.438398,61.366566
4,EXIDEIND,500086,0.0,0,0,0,4.374315,26.271186

In [3]:
dfforplot = df[df['Hangman']==1]
for a in dfforplot.SC_CODE:
    plotcandlestick(a,dffull)

/home/sridhar/anaconda2/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [4]:
dfforplot

,Symbol,SC_CODE,Maru%,Hangman,Bullisheng,Pearcing,Volpercent,RSI
14,VOLTAS,500575,0.0,1,0,0,0.590027,76.722925
17,CASTROLIND,500870,0.0,1,0,0,0.249708,62.758621
20,APOLLOHOSP,508869,0.0,1,0,0,0.922752,55.362915
23,ENGINERSIN,532178,0.0,1,0,0,0.805809,80.317460
25,WOCKPHARMA,532300,0.0,1,0,0,0.549507,76.573427
31,BIOCON,532523,0.0,1,0,0,0.250015,73.558719
37,MINDTREE,532819,0.0,1,0,0,0.419584,15.311005
38,PAGEIND,532827,0.0,1,0,0,0.401770,38.134561
41,IRB,532947,0.0,1,0,0,5.469122,55.701754
44,JUBLFOOD,533155,0.0,1,0,0,0.241984,76.171875
48,PCJEWELLER,534809,0.0,1,0,0,2.957263,4.040216

In [10]:
df.to_csv('/home/sridhar/Documents/Shares/Bhavcopy_data/Dailyoutputs/correct_niftymidcap17072017.csv')

In [8]:
#list(dffull.columns.values)
dffull[dffull.NO_OF_SHRS == 0]

Empty DataFrame
Columns: [Unnamed: 0, CLOSE, DATE, HIGH, LAST, LOW, NET+AF8-TURNOV, NET_TURNOV, NO+AF8-OF+AF8-SHRS, NO+AF8-TRADES, NO_OF_SHRS, NO_TRADES, OPEN, PREVCLOSE, SC+AF8-CODE, SC+AF8-GROUP, SC+AF8-NAME, SC+AF8-TYPE, SC_CODE, SC_GROUP, SC_NAME, SC_TYPE, TDCLOINDI]
Index: []

[0 rows x 23 columns]

In [3]:
dffull.tail()

,Unnamed: 0,CLOSE,DATE,HIGH,LAST,LOW,NET+AF8-TURNOV,NET_TURNOV,NO+AF8-OF+AF8-SHRS,NO+AF8-TRADES,...,PREVCLOSE,SC+AF8-CODE,SC+AF8-GROUP,SC+AF8-NAME,SC+AF8-TYPE,SC_CODE,SC_GROUP,SC_NAME,SC_TYPE,TDCLOINDI
390308,390308,4850.00,06/21/2017,4850.00,4850.00,4850.00,NaN,19400.0,NaN,NaN,...,4851.90,NaN,NaN,NaN,NaN,972716.0,F,IFCI150212D,B,NaN
390309,390309,6850.06,06/21/2017,6850.06,6850.06,6850.06,NaN,54800.0,NaN,NaN,...,6850.02,NaN,NaN,NaN,NaN,972719.0,F,IFCI310312A,B,NaN
390310,390310,6643.75,06/21/2017,6675.00,6630.00,6630.00,NaN,79623.0,NaN,NaN,...,6710.00,NaN,NaN,NaN,NaN,972721.0,F,IFCI310312C,B,NaN
390311,390311,4725.00,06/21/2017,4750.00,4725.00,4725.00,NaN,37900.0,NaN,NaN,...,4730.00,NaN,NaN,NaN,NaN,972883.0,F,893PTCIF22,B,NaN
390312,390312,7204.14,06/21/2017,7204.14,7204.14,7204.01,NaN,316978.0,NaN,NaN,...,7203.06,NaN,NaN,NaN,NaN,972885.0,F,893PTCIF22A,B,NaN